@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('Roboto-Thin.ttf') format('woff2');
}

body {
  font-family: "Roboto";
  font-size: 14px;
  background-color: #ffffff;
  background: linear-gradient(#bcbcbc, #ffffff) no-repeat;
}

* {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
  background-color: #205081;
  margin: 0px;
  padding: 10px 0px 5px 0px;
  margin-bottom: 0px;
}
.title h1 {
  font-size: 18pt;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  margin: 0px;
}
.container-login {
  width: 500px;
  margin: 100px auto 50px auto;
}
.box {
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.45);
  -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.45);
  border: 1px solid rgba(0,0,0,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box-line {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  margin: 0px 0px 10px 0px;
  padding:10px;
}
.box-col {
  background-color: #ffffff;
  border: 1px solid rgba(0,0,0,0.1);
  padding:10px;
  margin-top: 20px;
}
ul {
  margin-left: 30px;
  font-size: 20px;
  color: green;
}
h2 {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin: 30px 10px 5px 10px;
}
p {
  text-align: center;
  font-size: 14px;
  color: #000000;
}
.form-login {
  padding: 10px 30px 30px 30px;
}
.form-login .link {
  margin-right: 25px;
}
.form-login .error {
  color: #ff0000;
}
#socialDiv {
  margin: 20px auto;
  width: 400px;
  height: 100px;
  border: 0px none;
}
#form-register-div {
  display: none;
}
#form-email-div {
  display: none;
}
#login-registered-error {
  display: none;
}
.btn-group {
}
.btn.right {
  text-align: right;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8e8e8e !important;
    opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #8e8e8e !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #8e8e8e !important;
}
